.nav {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: auto 0 auto 0;

}

.nav__link {
  text-decoration: none;
  margin-right: 32px;
  color: #FFFFFF;
  cursor: pointer;
  padding-bottom: 27px;
}
.nav__link_dark {
  color: #1A1B22;
}

.nav__button-auth {
  text-decoration: none;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 12px 12px 15px 12px;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
  background: none;
}
.nav__button-auth_dark{
  border: 1px solid #1A1B22;
  color: #1A1B22;
}

.nav__link_active {
  border-bottom: solid #FFFFFF 3px;
}
.nav__link_active_dark{
  border-bottom: solid #1A1B22 3px;
}
@media screen and (min-width: 768px) and (max-width: 1439px){
  .nav{
    font-size: 16px;
  }
  .nav__link{
    margin-right: 16px;
    padding-bottom: 20px;
  }
  .nav__button-auth{
    padding: 8px 12px 8px 12px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px){
  .nav{
    display: none;
  }
  .nav__mobile {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
  }
  .nav__link_active {
    border-bottom: none;
  }
}
